body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

header {
    background-color: #fdfdfd;
    color: #111;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Add a line below the header */
}

main {
    max-width: 800px;
    padding: 2em;
    margin: 0 auto;
    font-size: 20px; 
    line-height: 1.6;
}

footer {
    background-color: #fdfdfd;
    color: #111;
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc; /* Add a line above the footer */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.vis midi-player {
    display: block;
    width: inherit;
    margin: 4px;
    margin-bottom: 0;
}
.vis midi-player::part(control-panel) {
    background: #fdfdfd;
    border: 2px solid #000;
    border-radius: 10px 10px 0 0;
}
.vis midi-player::part(play-button) {
    color: #111;
    border: 2px solid currentColor;
    background-color: #fdfdfd;
    border-radius: 20px;
    transition: all 0.2s;
    content: 'hello';
}
.vis midi-player::part(play-button):hover {
    color: #000;
    background-color: #fdfdfd;
    border-radius: 10px;
}
.vis midi-player::part(time) {
    font-family: monospace;
}
  
  /* Custom visualizer style */
.vis midi-visualizer .piano-roll-visualizer {
    background: #f1f1f1;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 4px;
    margin-top: 0;
    overflow: auto;
}
.vis midi-visualizer svg rect.note {
    opacity: 0.7;
    stroke-width: 0.5;
}
.vis midi-visualizer svg rect.note[data-instrument="0"]{
    fill: #fb5f42;
}
.vis midi-visualizer svg rect.note[data-instrument="1"]{
    fill: #2c7873;
}
.vis midi-visualizer svg rect.note[data-instrument="2"]{
    fill: #375e97;
}
.vis midi-visualizer svg rect.note.active {
    opacity: 1;
    stroke: #000;
}